<button type="button" class="btn btn-primary" (click)="statusUpdate($event, {_source: 123})">StatusUpdate</button> &nbsp;&nbsp;
 
<button type="button" class="btn btn-primary" (click)="statusUpdateRequest($event)">StatusUpdateRequest</button> <br> <br>

<button type="button" class="btn btn-primary" (click)="openModalForStatusUpdate($event, template, {_source: 123})">openModalForStatusUpdate</button> &nbsp;&nbsp;
 
<button type="button" class="btn btn-primary" (click)="openModalForStatusUpdateRequest($event, template)">openModalForStatusUpdateRequest</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button (click)="modalRef.content.action(modalRef.content.params)">Đồng ý {{modalRef.content.text}}</button>
    <button (click)="modalRef.hide()">Hủy</button>
  </div>
</ng-template>